@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100&family=Raleway:wght@200&family=Righteous&family=Roboto+Slab:wght@300&display=swap');


:root {
  --clr-primary: #f7cfc8;
  --clr-secondary: #4d84c8;
  --clr-wht: #fffcf6;
    --color-1:#E0FFFF;
    --color-2:#87CEFA;
    --color-3:#B4D2D9;
    --color-4:#AFEEEE;
    --color-5:#F2E9E4;
    --color-6:white;
    --color-7:rgb(224, 241, 245);
    --color-8:#9dc8d1;
    --color-9:#081b29;
    /* opciones de colores */
    --transition: 0.3s;
  }

  html{
    background-color: #081b29;
    scroll-behavior: smooth;
  }

  html::-webkit-scrollbar{
    width: 10px;
    /* background-color:#b8daf1; */
  }

  html::-webkit-scrollbar-thumb{
    background-color: #87CEFA;
    border-radius: 50px;
  }
  
  html::-webkit-scrollbar-thumb:hover{
    background-color: #ffffff;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Righteous', cursive;
    overflow-x:hidden;
    /* background: #081b29; */
}

/* posible opcion de barra fija  */
.header{
  position: fixed;
  z-index: 100;
  width: 100%;
}

section[id]{
  scroll-margin-top:100px ;
}


.top{
    background-color: #081b29;
    width: 100vw;
    height: 60rem;
    /* background-color:var(--color-6);
    color: var(--color-6); */
}

 .brand .letter{
  color: #00BFFF;
}





.navbar .brand h1{
  position: sticky;
  margin-left:90px;
  font-size: 40px;
}

.brand span{
    color: var(--color-4);
}

.navbar{
    position: sticky;
    background-color:transparent ;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 1.5rem 3.5rem;
    justify-content: space-between;
    padding: 1em;
    font-size: 20px;
    /* box-shadow: 0 3px 5px rgba(101, 151, 180, 0.404); */
    
}

.menu .brand h1{
    margin-top: 10px;
    margin-left: 10px;
}

.menu{
   font-size: 22px;
    margin-right: 8rem;
    margin-top: 10px;
    display: flex;
    width: 55%;
    height: 100%;
    justify-content: space-between;
    list-style: none; 
}

.toggle-menu, .bio-texto-subtitle, .info-content-sotial a{
  display: none;
}


.menu a {
  border-radius: 20%;
  border:2px solid var(--color-4) ;
  padding: 15px 40px;
  color: white;
  text-decoration: none;
  transition: 0.3 ease;
}

.menu a :nth-child(5){
  background-color: #00BFFF;
}


.menu .active{
    color: var(--color-2);
}

  .menu a:hover{
    color: #191c32;
    background-color: var(--color-2);
    transition: .5s; 
}  




.links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  position: absolute;
  top: 10px;
  left:80% ;
}

.links img:hover{
  transform: translateY(-5px);
  background-color: #FAF8F1;
}

.inicio{
    font-family: 'Roboto Slab', serif; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-4);
    margin-top: 250px;
    margin-right: 40%;
    font-size: 50px;
}


   .hero img {
    width: 500px;
    border: 7px solid var(--color-4);
    height: 520px;
    display: grid;
    flex-direction: row;
    margin-top: 140px;
  }

  .hero{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }



  .bio{
    /* background-color: #00BFFF; */
    max-width: 1000px;
  }

  
   .titulo {
    font-family: 'Raleway', sans-serif;
     font-size: clamp( 4.5vw, 1.9em, 3em); 
    color: var(--color-5);
  }

  .saludo{
    font-size: 30px;
  }

  .nombre-hero{
    color:var(--color-2);
  }
  .bio-texto{
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    color: var(--color-1);
    padding: 1.5rem 0;
  }
  

  .sobre-mi {
    padding: 1rem 6rem;
  }
  
  .sobre-mi h2 {
    font-size: 2.8em;
    margin-bottom: 50px;
    color: var(--color-5);
    text-align: center;
  }
  
  .sobre-mi p {
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    color: var(--color-5);
    line-height: var(--color-5);
    padding: 0.5rem;
    text-align: center;
  }

  .skills{
    margin-top: 120px;
  }

    .skills .images {
      flex-wrap: wrap;
    }

  .header-skills{
    display: flex;
    justify-content: center;
    font-size: 2.8em;
    color: var(--color-5);
  }

  .images{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
  }

  .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin: 60px;
    width: 7.2cm; height: 7.5cm;
    flex-wrap: wrap;
  }

  .icon:hover{
    background-color:#4682B4;
  }

  .tarjeta{
    border-radius: 81px;
    background-color: var(--color-5);
    box-shadow: 0 3px 10px var(--color-8);
    padding: 20px;
    margin: 40px 30px;
  }

   .izquierda{
    border-radius: 80px;
    box-shadow: 8px 8px 0px 0px rgba(246,138,88,1);
  } 
  .izquierda:hover{
    background-color:#F7BE81;
  }

   .derecha{
    border-radius: 81px;
    box-shadow: 8px 8px 0px 0px rgba(16,119,225,1);
  } 

   .nuevo{
    box-shadow:8px 8px 0px 0px rgba(60,188,241,1);
  } 

  .nuevo:hover{
    background-color: #CEF6F5;
  }

  /* menu de iconos */
  .sociales {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
  }

  .linkedin{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 62%;
  }
  
  .socicon {
    width: 3rem;
    height: 3rem;
  }

  .desplazarseArriba {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .flecha-arriba {
    width: 3rem;
    height: 3rem;
  } 

  .socicon:hover{
    background-color: white;
    border-radius: 15px;
  }

  .proyectos{
    color: var(--color-5);
    margin-top: 50px;
  }

  .portfolio{
    margin-bottom: 180px;
  }


  .portfolio-headings{
    width: 100vw;
    padding-top: 10em;
  }

  .portfolio-headings h2{
    font-size: 2.8em;
    display: flex;
    justify-content: center;
  }

  .portfolio .container{
     flex-wrap: wrap; 
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .card{
    width: 300px;
    height: 310px;
    background-color:var(--color-4)  ;
    margin: 5em;
    border-radius: 10px;
    box-shadow: -10px 10px 0px 0px rgb(141, 241, 233),
    -20px 20px 0px 0px rgba(160, 239, 241, 0.7),
    -30px 30px 0px 0px rgba(154, 255, 238, 0.4),
    -40px 40px 0px 0px rgba(99, 233, 233, 0.1);
  }

  .card-img{
    width: 100%;
    height: 150px;
    background-image: url(../img/Koalaland.png);
    background-size: cover;
    border-radius: 10px;
  }

  .card-img-2{
    width: 100%;
    height: 150px;
    background-image: url(../img/tienda\ virtual.png);
    background-size: cover;
    border-radius: 10px;
  }

  .card-img-3{
    width: 100%;
    height: 150px;
    background-image: url(../img/Oso-panda-gigante-Zoo-Madrid-2.jpg);
    background-size: cover;
    border-radius: 10px;
  }


  .card_title{
  width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
  }

  .card-proyects-links{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
  }

  .card-proyects-links a:hover{
    color: var(--color-9);
  }


  .card-proyects-links a{
    color: white;
    text-decoration: none;
  }

  .card-proyects-links i{
    font-size:2em ;
  }

  .card .project-details{
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 10px 20px;
    border: solid;
    background-color: #00ffff;
    border-radius: 20px;
    box-shadow:-1px 2px 12px -3px  rgba(128,237,245,0.74);
    font-family: 'Righteous', cursive;
    align-self: center;
    width: 80%;
    text-transform:uppercase ;
  }

  .card .project-details:hover{
    background-color: white;
  }

  .container-contact{
    padding: 3em;
    margin: 0 auto;
  }


   .container-contact img{
    width: 700px;
    height: 650px;
    display: flex;
    float: right;
    margin-top: -200px;
     margin-right: 10%;  
  } 

   .contact-headings h2{
    font-size: 4em;
    color: var(--color-5);
    margin-left: 325px;
   }
   .contact-form h4{
    margin-left: 280px;
    color: var(--color-5);
    font-size: 30px;
    padding-bottom: 20px;
   }

   form{
    display:flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
    margin-left: 280px;
   }

   .form input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
   }

   .form textarea{
    height: 150px;
    background: none;
    color: white;
    padding: 1.5em;
    border:1px solid white ; 
   }

   .contact-responsive{
    display: none;
   }

    .btn-submit{
      padding: 10px 20px;
      margin: 1em;
      border: none;
      text-transform: uppercase;
      background-color: aqua;
      border-radius: 20px;
      cursor: pointer;
      font-family: 'Righteous', cursive;
   }

   .btn-submit:hover{
    background-color: var(--color-1);
   }

   .footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color:var(--color-1) ;
   }

   .footer-content h2{ 
    font-size: 3em;
   }

   .footer-content h5,
   .social-network{ 
    font-size: 1.5em;
   }
   .footer-content h5{
    text-align: center;
   }

    .social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
    font-size: 1.5em;
    color: var(--color-9);
    color: white;
   } 
   
   .social-network a{
    font-size: 1.5em;
    color: var(--color-9);
    color: var(--color-2);
   }


   .social-network a:hover{
    color: aqua;
   }

   .bio-texto-subtitle{
    font-family: 'Roboto', sans-serif;
    color: var(--color-4);
    font-size: 20px;
    padding: 10px;
   }

   .toggle-menu{
    color: white;
   }

   @media screen and (max-width: 1500px){

      .menu{ 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -10px;
        left: 0;
        width: 38vw;
        height: 100vh;
        background-color: var(--color-9);
        z-index: 1;
        transform: translateX(-110%);
        transition: all .5s ease-in-out;
        border-top-right-radius: 20px;
        border-right: 2px dashed var(--color-4) ;
      }
       
      .menu a.active{
        color: white;
      }


       .menu a{
        font-size: 25px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width:  250px; 
        border: none;
        color: var(--color-2);
      } 

      .menu a:hover{
        font-size: 28px;
       background-color: transparent;
        color: aqua;
      } 
      .menu li{
        color: white;
        margin: 2em;
      }

      .show_menu {
        transform: translateX(0%);
        transition: all .5s ease-in-out;
      }

      .toggle-menu{
        cursor: pointer;
        display: block;
      }
      .saludo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:-30px;
        padding-right:50px;
        
      }

      .fa-bars{
        font-size: 1.5em;
        margin-top: -.2em;
        color: var(--color-5);
      }

      .toggle-menu .fa-close{
        font-size: 1.7em;
        display: none;
      }

      .menu .active{
        color: var(--color-9);
      }

      

      .hero{
        display: flex;
        flex-direction: column-reverse;
      }
      .bio-texto{
        display: none;
      }
      .hero img{
        width: min(70%, 350px);
        height: auto;
      }
      .info-content-sotial a, .bio-texto-subtitle{
        display: block;
      }
      .info-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .letter{
        margin-left: -90px;
      }


      .contact-section .contact-section_img{
        display: none;
      }

      .contact-section, .contact-headings{
        margin: none;
      }

      .contact-section{
        width: 80vw;
      }



  }

   @media screen and (max-width: 800px){

      .menu{ 
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: -10px;
        left: 0;
        width: 38vw;
        height:100vh;
        background-color: var(--color-9);
        z-index: 1;
        transform: translateX(-110%);
        transition: all .5s ease-in-out;
        border-top-right-radius: 20px;
        border-right-color: #00ffff solid 50px;
      }


       .menu a{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width:  200px; 
        margin-left:25px;
        color: var(--color-2);
      } 

      .menu a:hover{
        font-size: 25px;
        color: aqua;
      } 

      .show_menu {
        transform: translateX(0%);
        transition: all .5s ease-in-out;
      }

      .toggle-menu{
        cursor: pointer;
        display: block;
      }
      .saludo{
        margin-left: 60px;
      }

      .fa-bars{
        font-size: 1.5em;
        margin-top: -.2em;
        color: var(--color-5);
      }

      .toggle-menu .fa-close{
        font-size: 1.7em;
        display: none;
      }

      .menu .active{
        color: var(--color-9);
      }

      .menu li{
        margin: 2em;
      }

      .hero{
        display: flex;
        flex-direction: column-reverse;
      }
      .bio-texto{
        display: none;
      }
      .hero img{
        width: min(70%, 350px);
        height: auto;
      }
      .info-content-sotial a, .bio-texto-subtitle{
        display: block;
      }
      .info-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .letter{
        margin-left: -90px;
      }

      .sobre-mi{
        text-align: center;
      }

      .contact-section .contact-section_img{
        display: none;
      }

       .contact-section{
        margin-left: -50px;
        font-size:9px;
        display: flex;
        justify-content: center;
        align-items:center;
        text-align:center;
      } 


      .no-responsive{
        display: none;
      }

      .contact-responsive{
        margin-left: 250px;
        display: flex;
        text-align: center;
        display: block;
        font-size: 5em;
      color: var(--color-5);
      padding-bottom: 40px;
      }

      .contact-section  .contact-form h4{
        margin:0 40px 0 320px;
        width: 350px;
      }

      .contact-section  .contact-form  .form{
        margin:0 50px 0 320px;
        width: 350px;
      }
  





      

  }

  @media screen and (max-width: 600px){
    .menu{ 
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -10px;
      left: 0;
      width: 38vw;
      height: 100vh;
      background-color: var(--color-9);
      z-index: 1;
      transform: translateX(-110%);
      transition: all .5s ease-in-out;
      border-top-right-radius: 20px;
      border-right-color: #00ffff solid 50px;
    }


     .menu a{
      /* font-size: clamp( 1vw, 1em, 1em);  */
      font-size: 18px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      width:  150px; 
      margin-left: 5px;
      color: var(--color-2);
    } 

    .menu a:hover{
      font-size: 23px;
      color: aqua;
    } 

    .sobre-mi .p{
      display: flex;
      text-align: center;
      font-size: 1.2em; 
      color: var(--color-5);
    }

    .skills .images .icon  {
      width: 5.2cm; height: 5.5cm;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    .proyectos{
      margin-top: -15px;
    }


    .show_menu {
      transform: translateX(0%);
      transition: all .5s ease-in-out;
    }

    .toggle-menu{
      cursor: pointer;
      display: block;
    }
    .saludo{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom:-30px;
      padding-right:50px;
      
    }

    .fa-bars{
      font-size: 1.5em;
      margin-top: -.2em;
      color: var(--color-5);
    }

    .toggle-menu .fa-close{
      font-size: 1.7em;
      display: none;
    }

    .menu .active{
      color: var(--color-9);
    }

    .menu li{
      margin: 2em;
    }

    .hero{
      display: flex;
      flex-direction: column-reverse;
    }
    .bio-texto{
      display: none;
    }
    .hero img{
      width: min(70%, 350px);
      height: auto;
    }
    .info-content-sotial a, .bio-texto-subtitle{
      display: block;
    }
    .info-content{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .letter{
      margin-left: -90px;
    }


    .contact-section{
      font-size:9px;
      display: flex;
      justify-content: end;
      align-items:end;
      text-align: end;
    } 


    .no-responsive{
      display: none;
    }

    .contact-responsive{
      display: flex;
      justify-content: end;
      align-items:end;
      text-align: end;
      display: block;
      font-size: 4em;
    color: var(--color-5);
    padding-bottom: 40px;
    }

    .contact-section  .contact-form{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100vw;
    }

    .contact-section  .contact-form h4{
      margin:0 20px 0 300px;
      word-wrap: 350vw;
    }

    .contact-section  .contact-form  .form{
      margin:0 50px 0 300px;
      width: 350px;
    }

}

@media screen and (max-width: 450px){

  .skills .header-skills .images img{
    width: 1.2cm;
    margin-left: 150px;
  }


  .contact-section{
    font-size:9px;
    display: flex;
    justify-content: end;
    align-items:end;
    text-align: end;
  } 


  .no-responsive{
    display: none;
  }

  .contact-responsive{
    display: flex;
    justify-content: end;
    align-items:end;
    text-align: end;
    display: block;
    font-size: 3.8em;
  color: var(--color-5);
  padding-bottom: 40px;
  width: 50vw;
  margin-left: 200px;
  }

  .contact-section  .contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
  }

  .contact-section  .contact-form h4{
    margin:0 20px 0 140px;
    word-wrap: 250vw;
  }

  .contact-section  .contact-form  .form{
    margin:0 50px 0 220px;
    width: 250px;
  }
}

 

  